.show {
    flex: 4;
    font-size: 1.4rem;
    .subShow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .share {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            & > span {
                margin-bottom: 0.5rem;
            }
            & > * {
                margin-left: 0.5rem;
            }
        }
        .wishList {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            & > svg {
                font-size: 2rem;
                margin-right: 0.8rem;
                color: var(--primary);
            }
        }
    }
}

.prop {
    flex: 8;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    & > * {
        margin-bottom: 1rem;
    }
    .title {
        font-size: 2.3rem;
        line-height: 3rem;
        max-height: 6rem;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .reputation {
        display: flex;
        font-size: 1.6rem;
        padding: 1rem;

        & > *:not(:first-child) {
            border-left: 1px solid #ccc;
            padding: 0 1rem;
        }
    }
    .price {
        display: flex;
        align-items: center;
        font-size: 3rem;
        background-color: #f4f4f4;
        padding: 1rem;
        & > *:not(:first-child) {
            margin-left: 1rem;
        }
    }

    .options {
        flex: 1;
        & > * {
            margin-bottom: 1rem;
        }
        .option {
            display: flex;
            align-items: center;
            .optionTitle {
                font-size: 1.6rem;
                color: var(--text-secondary-o);
                display: flex;
                width: 100%;
                .title_name {
                    padding: 1rem;
                    flex: 20%;
                }
                .title_detail {
                    padding: 1rem;
                    flex: 80%;
                }
            }
            .quantityCrtl {
                width: fit-content;
                display: flex;
                .quantityCtrlBtn {
                    width: 3.2rem;
                    height: 3.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.09);
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .quantityInput {
                    height: 3.2rem;
                    border: none;
                    width: 5rem;
                    text-align: center;
                    font-size: 1.6rem;

                    border-top: 1px solid rgba(0, 0, 0, 0.09);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .quantityCtrlBtn {
                }
            }
            .discountTicket {
                display: inline-block;
                width: 8rem;
                height: 2.4rem;
                line-height: 2.4rem;
                background-color: #ccc;
                text-align: center;
                position: relative;
                text-transform: uppercase;
                font-size: 1.4rem;
                background-color: #d0011b14;
                color: var(--primary);
                margin-right: 0.5rem;
                &:before {
                    content: '';
                    position: absolute;
                    left: -0.3rem;
                    top: 0.3rem;
                    width: 0.6rem;
                    height: calc(100% - 0.6rem);
                    background-repeat: repeat;
                    background-size: 0.6rem 0.6rem;
                    background-image: radial-gradient(#fff 2px, transparent 0);
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -0.3rem;
                    top: 0.3rem;
                    width: 0.6rem;
                    height: calc(100% - 0.6rem);
                    background-repeat: repeat;
                    background-size: 0.6rem 0.6rem;
                    background-image: radial-gradient(#fff 2px, transparent 0);
                }
            }
        }
    }
    .actions {
        display: flex;
    }
    .policy {
        border-top: 1px solid #e3e3e3;
        padding-top: 1rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;

        & > span {
            display: flex;
            justify-content: center;
            align-items: center;

            & > svg {
                font-size: 3rem;
                margin-right: 0.8rem;
                color: var(--primary);
            }
        }
        & > span:nth-child(2) {
            margin-left: 3.5rem;
            color: var(--text-secondary-o);
        }
    }
}

@media (min-width: 1200px) {
    // .title_name {
    //     padding: 1rem;
    //     flex: 50% !important;
    // }
    // .title_detail {
    //     padding: 1rem;
    //     flex: 50% !important;
    // }
}

@media (min-width: 768px) {
    // .title_name {
    //     padding: 1rem;
    //     flex: 50% !important;
    // }
    // .title_detail {
    //     padding: 1rem;
    //     flex: 50% !important;
    // }
}
