.tableContainer {
    padding: 4rem;
    width: 100%;
    .actions {
        display: block;
        padding-bottom: 2rem;
        float: right;
    }
    .title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 30px;
        font-weight: 800;
        color: var(--text-primary-o);
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        font-weight: 500;
        font-size: 1.4rem;
        thead {
            .tr {
                .th {
                    .proper {
                        font-weight: 800;
                        font-size: 1.3rem;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: var(--text-tertiary-o);
                        border-bottom: 1px solid var(--text-tertiary-o);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow-wrap: normal;
                        height: 4rem;
                    }
                }
            }
        }
        tbody {
            .tr {
                .td {
                    border-bottom: 1px solid var(--text-tertiary-o);
                    position: relative;
                    text-align: center;
                    padding: 0.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 15rem;
                    .status {
                        display: inline-block;
                        color: #fff;
                        padding: 0.5rem;
                        background-color: var(--primary);
                        border-radius: 0.3rem;
                        width: fit-content;
                    }
                    .productImg {
                        border: 1px solid #ccc;
                        width: 5rem;
                        height: 5rem;
                        background-size: cover;
                        background-position: center;
                        margin: 0 auto;
                    }
                    .action {
                        font-size: 1.6rem;
                        cursor: pointer;
                        display: inline-block;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .delete {
                        color: var(--error);
                    }
                    .edit {
                        color: var(--success);
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .emptyTableMessage {
        font-size: 1.8rem;
        text-align: center;
    }
}
