.category {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: box-shadow 0.25s;
    &:hover {
        box-shadow: 1px 1px 9px -3px #0000006b;
    }
    .category-thumb {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 100%;
    }
    .category-name {
        padding: 0 1rem;
        font-size: 1.4rem;
        text-align: center;
        min-height: 4rem;
    }
}

@media (max-width: 768px) {
    .category {
        padding: 1rem 0;
        border-radius: 1rem;
        .category-thumb {
            border: none;
            padding-top: 60%;
        }
        .category-name {
            font-size: 1.3rem;
        }
    }
}
@media (max-width: 576px) {
    .category {
        // border: 3px solid;
        padding: 1rem 0;
        margin: 0.6rem 0.3rem;
        background-color: var(--secondary-green);
        border-radius: 1rem;
        border-color: #fff;
        .category-thumb {
            border: none;
            padding-top: 50%;
        }
        .category-name {
            font-size: 1rem;
            color: #fff;
        }
    }
}
