.form {
    padding: 4rem 3rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 16px -5px #000;
    margin: 2rem 2rem 2rem;
    & > * {
        margin-bottom: 1.5rem;
    }
    .header {
        font-size: 3rem;
        font-weight: 500;
    }
    .title {
        font-size: 2rem;
        font-weight: 500;
    }

    .policy {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        & > * {
            margin-left: 1rem;
        }
    }
}
