:root {
    --primary: #ee4d2d;
    --primary-bg: #fef6f5;
    --primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --secondary-blue: #0046ab;
    --secondary-yellow: #eda500;
    --secondary-green: #26aa99;
    --error: #ee2c4a;
    --error-bg: #fff4f4;
    --caution: #f69113;
    --caution-bg: #fff8e4;
    --success: #30b566;
    --success-bg: #f7fffe;
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-primary-o: #212121;
    --text-secondary: rgba(0, 0, 0, 0.65);
    --text-secondary-o: #595959;
    --text-tertiary: rgba(0, 0, 0, 0.54);
    --text-tertiary-o: #757575;
    --text-link: #0088ff;
    --text-header: #fff;
}
.dark {
    --primary: #1a94ff;
    --primary-bg: #fef6f5;
    --primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --secondary-blue: #0046ab;
    --secondary-yellow: #eda500;
    --secondary-green: #26aa99;
    --error: #ee2c4a;
    --error-bg: #fff4f4;
    --caution: #f69113;
    --caution-bg: #fff8e4;
    --success: #30b566;
    --success-bg: #f7fffe;
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-primary-o: #212121;
    --text-secondary: rgba(0, 0, 0, 0.65);
    --text-secondary-o: #595959;
    --text-tertiary: rgba(0, 0, 0, 0.54);
    --text-tertiary-o: #757575;
    --text-link: #0088ff;
    --text-header: #fff;
}

//neu
.neu_input {
    border: none;
    background-color: transparent;
    box-shadow: inset 0.3rem 0.3rem 0.6rem #b5b5b5, inset -0.2rem -0.2rem 0.5rem #fff;
    &.rounded {
        border-radius: 999px;
    }
    &.textarea {
        border-radius: 1rem;
    }
}
