.wrap {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 5px solid var(--primary);
        border-bottom-color: transparent;
        position: relative;
        animation: spinner 1s linear infinite paused;
        -webkit-animation: spinner 1s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
    }
}
