.form {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 22px 30px 0;
    margin: 2rem 1rem;
    & > * {
        width: 100%;
        padding-bottom: 22px;
    }
    .form-header {
        display: flex;
        align-items: center;
        span {
            font-size: 2.5rem;
        }
    }
    .form-body {
        & > * {
            margin-top: 2rem;
        }
        .error-message {
            margin-top: 0.8rem;
            font-size: 1.3rem;
            padding-left: 0.5rem;
            color: var(--error);
        }

        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }
    .form-footer {
        height: 50px;
        p {
            font-size: 1.8rem;
            text-align: center;
        }
    }
}
