.neu_input {
    width: 100%;
    label {
        font-size: 1.8rem;
    }
    .input-wrap {
        input {
            height: 3.5rem;
            line-height: 4rem;
            font-size: 1.6rem;
            width: 100%;
            padding: 0 1.5rem;
            font-family: inherit;
            border: none;
            background: transparent;
            color: var(--text-secondary);
            font-weight: 500;
            box-shadow: inset 2px 2px 5px #b3b3b3, inset -2px -2px 5px #fff;
            &:focus {
                outline: none;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        &.rounded input {
            border-radius: 999px;
        }
        &.error {
            // border: 1px solid var(--error);
            input {
                background-color: var(--error-bg);
            }
        }
    }
    .error_message {
        display: block;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-size: 1.3rem;
        color: var(--primary);
    }
}
